@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');

:root {
  --background: rgb(232, 207, 193);
  --yellow: rgb(233, 188, 164);
  --pink: rgb(230, 153, 149);
  --darkpink: rgb(204, 150, 152);
  --purple: rgb(166, 143, 155);
  --blue: rgb(135, 138, 149);
  --bluetransp: rgba(135, 138, 149, 0.3);
}

body {
  font-family: 'Open Sans';
  background-color: var(--background);
}

/*HEADER_HEADER*/
button {
  border: 2px solid transparent;
  background-color: transparent;
  margin-left: 10px;
  margin-top: 30px;
}

button.icon_button {
  border-radius: 5px;
  padding: 5px;
  font-size: 28px;
  transition: 0.3s;
  background-color: transparent;
  color: var(--pink);
}

button.word_button {
  border-radius: 5px;
  border-color: var(--pink);
  padding: 5px;
  width: 80px;
  font-size: 20px;
  margin-left: 0px;
  transition: 0.3s;
  background-color: var(--pink);
  color: white;
  font-family: 'Open Sans';
  font-weight: bold;
}

button.word_button:hover {
  cursor: pointer;
  border: 2px solid var(--pink);
  background-color: transparent;
  color: var(--pink);
}

button.word_button:focus {
  outline: none;
}

div.header button.icon_button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

div.header button.icon_button:focus {
  border: 2px solid var(--pink);
  background-color: var(--pink);
  color: white;
  outline: none;
}

/*PROFILE_HEADER*/

div.profile_pages_buttons button.icon_button {
  width: 300px;
  margin-top: 10px;
  border-bottom: 2px solid var(--bluetransp);
  opacity: 0.5;
  padding: 5px 100px;
}

div.profile_pages_buttons button.icon_button:hover {
  opacity: 1;
  cursor: pointer;
  border-bottom: 2px solid var(--blue);
}

div.profile_pages_buttons button.icon_button:focus {
  outline: none;
  border-bottom: 2px solid var(--blue);
  background-color: none;
}

div.profile_pages_buttons button img {
  width: 40%;
}

div.section_header {
  font-weight: bold;
  text-align: left;
  color: white;
  font-size: 20px;
  padding: 5px 0px;
  margin-left: -20px;
}

.container {
  position: relative;
  display: block;
  max-width: 40em;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: .9em;
  box-shadow: 10px 10px var(--blue);
  height: auto;
  min-height: 100% !important;
}

.container .profile_header {
  text-align: center;
  padding: 30px;
}

.container .profile_pages_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*WELLNESS*/

div#WELLNESS {
  margin-top: 10px;
}

div.profile_section {
  padding: 30px 60px;
  text-align: center;
  font-size: 15px;
}

.container .cups {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .cup {
  width: 60px;
  transition: 0.3s;
}

.container .cup:hover {
  transform: scale(1.2);
}

.container .cup:focus {
  outline: none;
}
